.modal-dialog {
  margin: auto !important;
  display: flex !important;
  align-content: center !important;

}

.ModalPodio {
  justify-content: center;
  background-color: #141414;
  height: 80vh;
  width: 100%;
  border-radius: 8px;
  z-index: 99;
}

.podioModal {
  background-color: rgba(0, 0, 0, 0.8);
}

.contMedall{
  display: flex;
  justify-content: center !important;
}

.svgPodio {
  width: 30%;
  position: relative;
  margin-top: 2vh; 
  bottom: 0;
  z-index: 0;
  animation: swing 5s ease-in-out infinite;
  transform-origin: top;
}
@keyframes swing {
  0%{
    transform: rotate(0deg); 
  }
  25% {
    transform: rotate(10deg); 
  }
  50% {
    transform: rotate(-10deg); 
  }
  75% {
    transform: rotate(10deg); 
  }
  100% {
    transform: rotate(0deg);
  }
}

.fotosPodioCont {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.contFoto {
  display: flex;
  justify-content: center !important;
}

.cont1erPuesto {
  position: relative;
  top: 0;
  text-align: center;
}

.fotoPodio1 {
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
  object-fit: cover;
  /* position: relative; */
  /* bottom: 30vh;
  right: 3vh; */
  border: 1px solid #fff;
}

.cont2doPuesto {
  position: relative;
  top: 30%;
  text-align: center;
}

.fotoPodio2 {
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
  object-fit: cover;
  /* position: relative; */
  /* bottom: 52vh; */
  border: 1px solid #fff;
}

.cont3erPuesto {
  position: relative;
  top: 45%;
  text-align: center;
}

.fotoPodio3 {
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
  object-fit: cover;
  /* position: relative; */
  /* bottom: 24vh;
  left: 3%; */
  border: 1px solid #fff;
}

.nombreUsuarioPodio1 {
  /* position: fixed; */
  /* top: 18%; */
  text-align: center;

}

.nombreUsuarioPodio2 {
  /* position: fixed; */
  /* top: 40%;
  left: 39%; */
  text-align: center;
}

.nombreUsuarioPodio3 {
  /* position: fixed; */
  /* top: 46%; */
  /* right: 77vh; */
  /* right: 38.5%; */
  text-align: center;
}

.confetti {
  width: 100%;
  height: 100%;
}



@media screen and (max-width: 900px) {

  .modal-dialog {
    width: fit-content !important;
    justify-content: center !important;
  }

  .modal-content {
    width: fit-content !important;
  }

  /* .nombreUsuarioPodio1 {
    position: fixed;
    top: 19%;
  }
  .nombreUsuarioPodio2 {
    position: fixed;
    top: 42%;
    left: 32%;
  }
  .nombreUsuarioPodio3 {
    position: fixed;
    top: 47%;
    right: 33%;
  }
  
.fotoPodio3 {
  left: 4%;
} */
}

@media screen and(max-width: 1199px) {
  /* .nombreUsuarioPodio1 {
    position: fixed;
    top: 19%;
  }
  .nombreUsuarioPodio2 {
    position: fixed;
    top: 42%;
    left: 32%;
  }
  .nombreUsuarioPodio3 {
    position: fixed;
    top: 47%;
    right: 33%;
  }
  
.fotoPodio3 {
  left: 4%;
} */
}