.icono-password{
    position: relative;
    color: black;
    bottom: 31px;
    left: 345px;
    cursor: pointer;
}
.icono-password-2{
    position: relative;
    color: black;
    bottom: 31px;
    left: 345px;
    cursor: pointer;
}
.icono-password-3{
    position: relative;
    color: black;
    bottom: 31px;
    left: 345px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .icono-password{
        position: relative;
        color: black;
        bottom: 31px;
        left: 270px;
        cursor: pointer;
    }
    .icono-password-2{
        position: relative;
        color: black;
        bottom: 31px;
        left: 270px;
        cursor: pointer;
    }
    .icono-password-3{
        position: relative;
        color: black;
        bottom: 31px;
        left: 270px;
        cursor: pointer;
    }
}