.iconoUsuarios-1{
    position: relative;
    color: black;
    bottom: 31px;
    left: 158px;
    cursor: pointer;
}
.iconoUsuarios-2{
    position: relative;
    color: black;
    bottom: 31px;
    left: 158px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .iconoUsuarios-1{
        position: relative;
        color: black;
        bottom: 31px;
        left: 160px;
        cursor: pointer;
    }
    .iconoUsuarios-2{
        position: relative;
        color: black;
        bottom: 31px;
        left: 160px;
        cursor: pointer;
    }
}