.contenedorBusqueda{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: auto;
    height: 5vh;
}
.buscador{
    width: 20%;
    height: 70%;
    border-radius: 15px;
    border-style: none;
    outline-style: none;
    padding: 10px;
}
.usuariosSection{
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigCardSection{
    width: 50%;
    position: absolute;
    right: 0;
}
.iconoBusquedaUserList{
    color: black;
    position: relative;
    right: 30px;
    cursor: pointer;
}
.swiper-slide{
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 70vh !important;
}
.swiper-button-next, .swiper-button-prev {
    top: var(--swiper-navigation-top-offset,85%) !important;
    width: calc(var(--swiper-navigation-size)/ 44 * 1000) !important;
}
.botonVerMas{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border-style: none;
    position: absolute;
    z-index: 10;
    top: 550px;
}
