.usuarioCardBig{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000;
    background-image: url(/src/assets/img/split_background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #181818;
    border-radius: 5px;
}
.bigCardSuperior{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
}
.imgUsuarioBig{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-top: 30px;
}
.infoDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    height: 100%;
    gap: 0;
}
.formUsuario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 60%;
}
.infoDeUsuarioCardBig1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 45%;
    height: 100%;
}
.infoDeUsuarioCardBig2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 45%;
    height: 100%;
}
.topicInformation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 50%;
    
}
.tipoDeUsuario{
    font-size: 20px !important;
    margin-top: 15px !important;
}
.iconoEditUser1{
    height: 30px;
    position: absolute;
    cursor: pointer;
    top: 10%;
    right: 15%;
}
.iconoEditUser2{
    height: 30px;
    position: absolute;
    cursor: pointer;
    top: 10%;
    right: 9%;
}
.parrafoInfo{
    width: 90%;
    height: 25px;
    overflow-x: hidden;
    margin: 0;
    border-bottom: 1px solid #000;
}
.spanBigCard{
    font-weight: 600;
    overflow: hidden;
}
input.parrafoInfo{
    border-style: dotted;
    background-color: rgb(231, 229, 226);
    border-radius: 5px;
    height: 30px;
}
.botonVerMas{
    width: 15%;
    height: 10%;
    border-radius: 15px;
    border-style: none;
    position: absolute;
    z-index: 10;
    top: 90%;
}
.botonIconoEdit{
    border: none;
}
.nameOfUser{
    font-size: 32px !important;
    max-width: 400px;
}