.estadisticas {
  width: 60%;
}

.giphyApi {
  margin-top: 10px;
  width: 60%;
}

.contenedorCambios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contLeaderboard {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selectPodio {
  background-color: #000 !important;
  color: #fff;
  border-radius: 2px;
}

.cardCambios {
  margin-top: 25px;
}

.confettiCumple {
  width: 100% !important;
}

.botonNoticias {
  cursor: pointer;
  transition: transform 0.5s ease;
}

.botonNoticias:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 980px) {
  .contenedorCambios {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .contLeaderboard {
    width: 60vh;
  }

  .contenedorHome {
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cardCambios {
    margin-top: 50px;
  }
}

@media screen and (max-width: 670px) {
  .contenedorCambios {
    width: 100%;
    flex-direction: column;
  }
}

/* @media screen and (max-width: 764px) {
  .giphyApi{
    width: 550px;
  }
  
} */