.leaderboard {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #000;
  width: 350px;
  margin-top: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.leaderboard tr {
  color: #ffff;
  background-color: transparent !important;
}
