.fila1{
    margin-top: 30px !important;
}

.inputDispositivosReportes {
    position: absolute;
    width: 510px;
    max-height: 268px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    z-index: 1;
    
}

.inputDispositivosReportes li{
    padding: 10px;
}

.inputDispositivosReportes :hover{
    background-color: rgba(2, 29, 117, 0.443);
}

.contInputFecha {
    display: flex;
    padding-left: 0;
    margin-left: 58%;
}

.inputFecha {
    position: fixed;
    color: white !important;
    background: transparent !important;
    border: none !important;
}

.inputAltaEvento {
    margin: auto;
    border-radius: 15px;
    padding-bottom: 5px;
}

.contAltaEvento {
    display: flex;
    justify-content: center;
    width: 100% !important;
}

.row.no-gutters .col {
    padding-right: 0px;
    padding-left: 0px;
}