.navbar {
  border-bottom: 2px solid #ffffff28;
  margin-bottom: 8px;
  background-color: #000;
}

.dropdown-toggle {
  padding: 0 !important;
}

.profileCard {
  position: relative;
}

.userProfile {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.userProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentUserCard h2 {
  margin-left: 15px;
  font-size: 1.1em;
  color: #fff;
}

.contentUserCard h2 span {
  font-size: 0.7em;
  font-weight: 500;
  color: #999;
}

.icons-drop {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffffc4;
  font-size: 1em;
  transition: 0.25s;
}

ion-icon {
  font-size: 1em;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #c5c5c8;
}

@media (max-width: 990px) {
  .userProfile {
    display: none;
  }
}
