.container-form-categoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 300px;
}
.tabla-Municipal{
    overflow: auto;
    height: auto;
}

.botonAgregarCategoria{
    border-radius: 50% !important;
    height: 40px;
    width: 40px;
    font-size: 30px; 
}
.claseModalCategoria{
    background-color: rgba(0, 0, 0 , .7);
}
.contenedorBusquedaCategoria{
    margin-bottom: 20px;
}