.container-form-categoria{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tabla-Municipal{
    overflow: auto;
    height: 400px;
}
::-webkit-scrollbar {
    width: 8px;
    border: 1px solid #fff;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: #9385ba;
    border-radius: 4px;
}
