.container-form-categoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 300px;
}
.tabla-Municipal{
    overflow: auto;
    height: 400px;
}

.botonAgregarCategoria{
    border-radius: 50% !important;
    height: 50px;
    width: 50px;
    font-size: 30px;
    position: relative;
    left: 2%;
    top: 20%;    
}
.claseModalCategoria{
    background-color: rgba(0, 0, 0 , .7);
}