.row-selected{
  background-color: deepskyblue;
}
tr:hover{
  cursor: pointer;
}
.colorTabla{
  color: white;
}

.botonEditar{
  height: 16px;
  margin-right: 20px;
}

.table-responsive{
  margin-left: 5%;
  margin-right: 5%;
}

.generalTable{
  text-align:  center;
  table-layout: fixed;

}
.generalTable th,
.generalTable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
