.row-selected{
    background-color: deepskyblue;
  }
  tr:hover{
    cursor: pointer;
  }
  .colorTabla{
    color: white;
  }
  
  .table-responsive{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .generalTable{
    text-align: center;
  }
  