*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body{
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(45deg ,#141f27, #1b384a);
}

.layoutHeight{
	min-height: 75vh;
}

@media (max-height: 750px) {
    .movFooter{
        display: none;
    }
}